.app-header {

    position: sticky;
    top: 0;
    background-color: transparent;
    .back-foword-container {
        gap: 10px;
    }

    .login-btn {
        margin-inline-end: $base-margin;
        padding: 7px 30px;
        gap: 10px;
        color: $clr6;
        border-radius: 30px;
        background-color: black;
        border: 1px solid white;
        cursor: pointer;

        .icon {
            font-size: rem(22px);
        }
    }

    .back-btn {
        background: $clr5;
        border: none;
        color: $clr6;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: rem(20px);
        cursor: pointer;
    }
}