

.nav-container {
   
    background-color: $clr5;
    padding: 0.750rem;
    border-right: 1px solid $clr4;
    padding-top: rem(25px);
    
    .logo-container {
        margin-bottom: 2rem;
        padding: 0 16px;
        
    }

    ul li {
        padding: 0px 16px;
        height: 40px;
        gap: 15px;
    }

    .link-container {
        color: rgba($color: $clr6, $alpha: .6);
        transition: color .3s;

        .icon {
            font-size: rem(18px);
        }

        &:hover {
            color: $clr6;
        }
    }

  
}
