

.new-station{

    padding: 0px 20px;

    .form-container {
        margin-bottom: $base-margin;
    }

    input {
        height: 40px;
        padding: 8px 36px;
        border-radius: 20px;
        background-color: rgba(255,255,255,.1);
        color: rgba(255,255,255,.7);
        border: none;

        &:focus {
            outline: none;
        }
    }


    .search-results{
        gap: 20px;
        padding: 0px 50px;
       
        .song-container {
            padding: $base-padding;
            align-items: center;
            
            .song-info {
                align-items: center;
                gap: 15px;
                flex-basis: 65%;
            }
            
            .img-container{

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .title {
                max-width: 40ch;
            }

            .wrraper {
                flex-basis: 35%;

                .duration {
                    width: 80px;
                }
                
                .add-song-btn {

                    button {
                        background: none;
                        border: 1px solid $clr3;
                        padding: 10px 40px;
                        text-transform: uppercase;
                        color: $clr6;
                        border-radius: 500px;
                        cursor: pointer;
                        transition: transform .2s;
                
                        &:hover {
                            border: 1px solid $clr6;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

