@font-face {
    font-family: dongle;
    src: url(../../fonts/Dongle-Regular.ttf);
}


@font-face {
    font-family: dongleBold;
    src: url(../../fonts/Dongle-Bold.ttf);
}


@font-face {
    font-family: dongleLight;
    src: url(../../fonts/Dongle-Light.ttf);
}